body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a19b9b;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #464648;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-bottom: 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #333;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #ada8a8;
}

.cell.x::before {
    content: 'X';
    color: #ff6b6b;
}

.cell.o::before {
    content: 'O';
    color: #4ecdc4;
}

.message {
    display: none;
    flex-direction: column;
    align-items: center;
}

.message.show {
    display: flex;
}

#winningMessageText {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#restartButton {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#restartButton:hover {
    background-color: #0056b3;
}
